.nav{
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.nav-items{
   list-style: none;
   display: flex;
   justify-content: space-around;
}
.nav-items>li{
    padding: 10px;
}
.nav-logo{
    height: 80px;
}